-using_color = (params[:color] == 'true')
%html
  %head
    %title= 'Bart Cheater'
    %script{:type => "text/javascript", :src  => "http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"}
    %script{:type => "text/javascript", :src=> "/main.js"}
    %script
      ="var bart = new Bart(#{@bart.to_json});"
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/main.css'}
    %link{:rel => "icon", :href => "/favicon.ico", :type => "image/png"}
  %body
    %div{:id => "buttons"}
      %img{:src => "/bc_small.png", :width => 27, :height => 20}
      %input{:type => "button", :value => "Refresh", :class => "refresh"}
      %input{:type => "button", :value => "#{"No " if using_color}Color", :id => "#{"no_" if using_color}color"}
    %div{:class => "br"}
    %table{:id => "trains"}
      %tbody
        %tr
          %td{:class => "box direction"}
            Home
          %td
            %div{:id => "trains_home"}
            %div{:class => "br"}
        %tr
          %td{:class => "box direction"}
            West
          %td
            %div{:id => "trains_west"}
            %div{:class => "br"}
    %div{:id => "status"}
      status
      %input{:type => "button", :value => "Refresh", :class => "refresh"}
    %div{:id => "box_mont"}
      M
    %div{:id => "box_powl"}
      P
    %div{:id => "box_civc"}
      C
    %div{:id => "box_16th"}
      6