%html
  %head
    %title= 'Bart Cheater'
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'all', :href => '/main.css'}
  %body
    -@bart.trains.each do |train|
      ="<div>#{train.to_s}</div>"